.app {
    width: 80%;
    margin: 0 auto;
}

.artistCard {
    display: flex;
    background: #eee;
    margin: 0 auto;
    align-items: center;
    gap: 1em;
    padding: .5em;
    margin-bottom: 1em;
    border-radius: 15px;
}

.artistImage {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
}

.artistImage img {
    width: 100%;
}